<mat-drawer-container class="example-container">

  <mat-drawer #drawer mode="over">

    <app-text-menu></app-text-menu>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <!--  <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
                     aria-label="Example icon-button with menu icon">
               <mat-icon>menu</mat-icon>
             </button>
      -->
      <span>Cooler name für das Projekt</span>
      <span class="example-spacer"></span>
      <a href="https://github.com/leonderdunna/text/issues" target="_blank">
        <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
          <mat-icon>bug_report</mat-icon>
        </button>
      </a>
      <button (click)="openSettings()" aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>

    </mat-toolbar>


    <app-main-text></app-main-text>
  </mat-drawer-content>

</mat-drawer-container>


