mat-card{
  margin:0.5cm
}
mat-form-field{
  width:100%;

  textarea{
    min-height: 5cm;
  }
}
.bewertung{
  min-height: 5cm;
  padding:0.46cm;
  font-size:1rem;
}
.richtig{
  color:green;
}
.anfang{
  color:orange
}
.falsch{
  color: red
}
